//Ajustar os botões em termos de cor,tamanho e posição
.custom-button{
    --color: black;
    --background: rgb(14, 122, 185);
    margin: 10px;
}
#container{
    text-align: center;
    margin-top: 55%;
}