<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Origem Torta de Viana</ion-title>
    <ion-buttons slot="start">
      <!--Botão voltar para tras-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Origem Torta de Viana</ion-title>
      <ion-buttons slot="start">
        <!--Botão voltar para tras-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrescentar imagem guardada nos assets-->
  <h1><ion-img
    src="./assets/imagens/torta.jpg"
    alt=""
  ></ion-img></h1>
  <!--Informação com vários paragrafos-->
    História:
  <p>
    A receita original terá nascido no Convento de Santa Ana de Viana do Castelo, em 1505, sendo que as “primeiras freiras eram Clarissas e teriam vindo do Mosteiro de Vila do Conde onde já eram renomadas artistas doceiras”. 
    
  </p>
  <p>
  Era “um doce importante, apenas preparado para ocasiões especiais, também conhecido com Torta Real”.
  </p>
  O processo de certificação foi iniciado em Fevereiro de 2020, num investimento de 20 mil euros, e surgiu “da necessidade de preservar a receita tradicional de um doce que tem associado a si o nome de Viana do Castelo, identificando as suas características, de modo a valorizar e promover este produto endógeno e ao mesmo tempo permitir diferenciar a Torta de Viana, dando a garantia e confiança ao consumidor que está a consumir um produto local com qualidade reconhecida, com a receita original que existe desde o século XVI”.
  
</ion-content>
