<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>História Culinária Local</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">História Culinária Local</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-text>A culinária de Viana do Castelo reflete uma rica tradição gastronômica que se desenvolveu ao longo dos séculos, influenciada pela localização geográfica da cidade, sua proximidade com o mar e sua história cultural. A região de Viana do Castelo possui uma diversidade de ingredientes frescos, que vão desde peixes e frutos do mar capturados no Atlântico até produtos agrícolas cultivados nos campos férteis do Minho.</ion-text>
</ion-content>
