<ion-header>
  <ion-toolbar>
    <ion-title> Torta de Viana</ion-title>
    <ion-buttons slot="start">
      <!--Botão voltar para tras-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Torta de Viana</ion-title>
      <ion-buttons slot="start">
        <!--Botão voltar para tras-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrescentar imagem guardada nos assets-->
  <h1><ion-img
    src="./assets/imagens/torta.jpg"
    alt=""
  ></ion-img></h1>
  <!--Texto com vários paragrafos e lista com várias informações-->
  Ingredientes:
  <p>
    Para a massa:
    <ion-list>
      <ion-item>
        <ion-label>Fermento em Pó -> 7.5g </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Açúcar -> 150g </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Farinha de Trigo -> 180g </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ovos -> 9pcs</ion-label>
      </ion-item>
    </ion-list>
  </p>
  <p>
    Para o recheio:
    <ion-list>
      <ion-item>
        <ion-label>Amido de Milho -> 10g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Açúcar -> 75g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Água -> 70ml</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Gemas -> 8 pcs</ion-label>
      </ion-item>
    </ion-list> 
  </p>
  Preparação:
  <p>
    1 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Para a massa: Bater os ovos e aos poucos adicionar o açúcar, continuando sempre a bater, até que fique um creme volumoso e esbranquiçado.</ion-label>
      </ion-item>
    </ion-list> 
  </p>
  <p>
    2 - Passo 
    <ion-list>
      <ion-item>
        <ion-label> Acrescentar a farinha e o fermento, envolvendo bem.</ion-label>
      </ion-item>
      
    </ion-list> 

  </p>

  <p>
    3 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Estender num tabuleiro rectangular previamente untado com papel vegetal e farinha e levar ao forno a pré-aquecido a 185ºC durante 20/25min.</ion-label>
      </ion-item>
      
    </ion-list> 

  </p>

  <p>
    4 - Passo
    
    <ion-list>
      <ion-item>
        <ion-label>Para o Recheio: Misturar o açúcar com a amido de milho, acrescentar a água e a gemas, envolver.</ion-label>
      </ion-item>
      
    </ion-list> 
    
  </p>

  <p>
    5 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Levar ao lume até engrossar.</ion-label>
      </ion-item>
    </ion-list> 

  </p>

  <p>
    6 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Colocar numa tigela e deixar arrefecer.</ion-label>
      </ion-item>
    </ion-list> 

  </p>

  <p>
    7 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Quando a massa estiver feita, colocar a mesma sobre um pano de cozinha, e rechear a face virada para cima ainda com o bolo morno, e começar a enrolar.</ion-label>
      </ion-item>
    </ion-list> 

  </p>

  
</ion-content>

