<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informações Realizador</ion-title>
    <!--Botão para voltar para tras-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Informações Realizador</ion-title>
      <!--Botão para voltar para tras-->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Adicionar texto-->
  <ion-text style="margin : 10px;">
    Olá a todos sou o Pedro Poças tenho 19 anos e atualmente estudo engenharia informática no IPVC-ESTG.
    <p>
      No ambito da unidade curricular Interação Homem - Máquina foi proposta a realização de uma aplicação sobre as receitas locais da nossa região de origem.
    </p>
    <p>
      Por isso vão ficar a par doque a cidade Viana Do Castelo tem de melhor.
    </p>
  </ion-text> 
</ion-content>

