<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Origem Bacalhau à Viana</ion-title>
    <ion-buttons slot="start">
      <!--Botão voltar para tras-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Origem Bacalhau à Viana</ion-title>
      <ion-buttons slot="start">
        <!--Voltar para tras-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrescentar imagem localizada nos assets-->
  <h1><ion-img
    src="./assets/imagens/bacalhau.jpg"
    alt=""
  ></ion-img></h1>
  História:
  <!--Fazer paragrafo entre os textos-->
  <p>
    Sendo Viana do Castelo o porto mais a norte da costa portuguesa, sempre teve acesso privilegiado ao bacalhau que vinha dos mares do Norte. 
  </p>
  <p>
    O famoso navegador João Álvares Fagundes, que navegou até à Terra Nova, no Canadá, uma zona de pesca de bacalhau sempre privilegiada pelos portugueses, era vianense. O bacalhau foi desde cedo utilizado pelos navegadores portugueses nas suas viagens, devido ao seu longo prazo de validade e à facilidade de transporte e conserva.
  </p>
  Consequentemente, muitas das principais receitas de bacalhau vieram desta cidade portuária. Existem várias receitas com este nome, sendo que uma das mais famosas é o bacalhau envolvido com couve no forno e acompanhado de broa de milho.
  
  
</ion-content>
