<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Origem das Receitas</ion-title>
    <!--Botão voltar para tras-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Origem das Receitas</ion-title>
      <!--Botão voltar para tras-->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrescentar botões-->
  <div id = "container">
  
    <ion-button routerLink = "/origemrojoes" class = "custom-button">Origem dos Rojões a Moda do Minho</ion-button>
    <ion-button routerLink = "/origembacalhau" class = "custom-button">Origem do Bacalhau à Viana</ion-button>
    <ion-button routerLink = "/origemtorta" class = "custom-button">Origem da Torta de Viana</ion-button>
  
  </div>
</ion-content>


