<ion-header>
  <ion-toolbar>
    <ion-title> Bacalhau à Viana</ion-title>
    <ion-buttons slot="start">
      <!--Botão para voltar para tras-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bacalhau à Viana</ion-title>
      <!--Botão voltar para tras-->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrestar uma imagem guardada nos assets-->
  <h1><ion-img
    src="./assets/imagens/bacalhau.jpg"
    alt=""
  ></ion-img></h1>
  Ingredientes:
  <!--Lista de informações sobre os ingredientes da receita e modo de processo-->
  <p>
    <ion-list>
      <ion-item>
        <ion-label>Lombos de bacalhau demolhado (Produto Local) -> 4pcs</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Batata para cozer -> 800g </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Brócolos -> 500g </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cebolas Médias -> 4pcs</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dentes de Alho -> 3pcs</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Folha de Louro -> 1pcs</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Azeite -> q.b</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sal e Pimenta Preta -> q.b</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Azeitona Preta  -> q.b</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Salsa Fresca -> q.b</ion-label>
      </ion-item>

    </ion-list>
  </p>
  Preparação:
  <p>
    1 - Passo
    <ion-list>
      <ion-item>
        <ion-label>Num tacho, coloque as postas ou lombos de bacalhau e deite por cima água a ferver por uns momentos apenas, para ajudar a abrir lascas. Escorra e enxugue num pano, levando-o de seguida a assar sobre um grelhador com um fio de azeite, tendo o cuidado de não o deixar passar de levemente a alourado.</ion-label>
      </ion-item>
    </ion-list> 
  </p>
  <p>
    Nota:

    <ion-list>
      <ion-item>
        <ion-label>o bacalhau também podem ser envolvido em folhas de couve lombarda previamente lavadas, colocadas num tabuleiro e levadas ao forno para assar a 220°C, até que as folhas da lombarda, fiquem completamente secas.</ion-label>
      </ion-item>
    </ion-list> 

  </p>
  <p>
    2 - Passo 
    <ion-list>
      <ion-item>
        <ion-label>Enquanto isso, coza as batatas descascadas em água temperada com uma colher de chá de sal por cerca de 15 minutos ou até estarem tenras. Noutra panela, coza também os brócolos em água a ferver temperada com o restante sal, sem tampar, tenha em conta que os brócolos demoram pouco tempo a cozinhar.</ion-label>
      </ion-item>
      
    </ion-list> 

  </p>

  <p>
    3 - Passo

    <ion-list>
      <ion-item>
        <ion-label>Por fim, prepare a cebolada. Num tacho deite o restante azeite, as cebolas às rodelas, os alhos laminados, a folha de louro, tempere com uma pitada de sal e pimenta preta. Deixe cozinhar lentamente, tapado e em lume brando para que a cebola não aloure ou queime.</ion-label>
      </ion-item>
      
    </ion-list> 

  </p>

  <p>
    4 - Passo
    
    <ion-list>
      <ion-item>
        <ion-label>Assim que o bacalhau estiver assado, coloque-o numa travessa rodeado das batatas cozidas, partidas às rodas, e dos brócolos. Regue generosamente o bacalhau com a cebolada e o azeite da mesma. Enfeite com raminhos de salsa e azeitonas pretas.</ion-label>
      </ion-item>
      
    </ion-list> 
    
  </p>

  <p>
    5 - Sugestão

    <ion-list>
      <ion-item>
        <ion-label>Sirva quente, acompanhe também com a tradicional broa de milho. Bom apetite!</ion-label>
      </ion-item>
    </ion-list> 

  </p>

  
</ion-content>
