<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Origem Rojões a Moda do Minho</ion-title>
    <ion-buttons slot="start">
      <!--Botão voltar para tras-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Origem Rojões a Moda do Minho</ion-title>
      <ion-buttons slot="start">
        <!--Botão voltar apara tras-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Acrescentar imagem localizada nos assets-->
  <h1><ion-img
    src="./assets/imagens/rojoes.avif"
    alt=""
  ></ion-img></h1>

  <!--Texto com vários paragrafos-->
    História:
  <p>
    Os Rojões à Moda do Minho são um prato tradicionalmente associado à região do Minho, no norte de Portugal. Essa iguaria é uma parte fundamental da gastronomia minhota e tem uma história que remonta a séculos atrás.
  </p>
  <p>
   A origem dos Rojões à Moda do Minho está ligada à tradição agrícola e pastoril da região. No passado, os agricultores e pastores minhotos criavam porcos em suas propriedades e aproveitavam cada parte do animal para alimentar suas famílias. Os rojões, que são pedaços de carne de porco cozidos em banha e temperados com alho, sal, pimenta e outros temperos, eram uma maneira de aproveitar ao máximo cada parte do porco, evitando desperdícios.
  </p>
  Com o passar do tempo, os Rojões à Moda do Minho tornaram-se uma especialidade culinária distintiva da região, conhecida por sua combinação de sabores ricos e textura suculenta. O prato é preparado tradicionalmente em grandes panelas de barro sobre o fogo, dando-lhe um sabor único e autêntico.
  
</ion-content>
